<div ui-view>
	<div class="details">
		<h1>Buffaloo Chicken Burger
		<a class="button greyish-brown customize-item fright" ui-sref="dashboard.menu.burgers.detail.edit">Customize</a>
		</h1>
		<h6>$8.95</h6>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		<p>
			<span class="p-head">PATTY - </span>
			<span>5.5oz</span>
		</p>
		<p>
			<span class="p-head">DONENESS - </span>
			<span>Medium</span>
		</p>
		<h4>TOPPINGS</h4>
		<ul class="item-list">
			<li><img src="images/square.png" /><span>Organic Mixed Greens</span></li>
			<li><img src="images/square.png" /><span>Scallions</span></li>
			<li><img src="images/square.png" /><span>Dill Pickle Chips</span></li>
			<li><img src="images/square.png" /><span>Spicy Pickles</span></li>
			<li><img src="images/square.png" /><span>Lettuce Blend</span></li>
			<li><img src="images/square.png" /><span>Sliced Red Onions</span></li>
		</ul>

		<h4>SAUCES & SEASONINGS</h4>
		<ul class="item-list">
			<li><img src="images/square.png" /><span>Red Relish</span></li>
			<li><img src="images/square.png" /><span>Apricot Sauce</span></li>
			<li><img src="images/square.png" /><span>Sweet Sriracha</span></li>
			<li><img src="images/square.png" /><span>Red Wine Vinaigrette</span></li>
			<li><img src="images/square.png" /><span>Horseradish Aioli</span></li>
			<li><img src="images/square.png" /><span>Hot Wing Sauce</span></li>
		</ul>
	</div>
</div>