<!--START SIDES TAB CONTENT -->
<div ng-controller="sidesCtrl">
    <div class="sides-card" ng-repeat="side in sidesDetails">
        <!--SIDES NAME INFO AND RATE -->
        <div class="sides-head">
            <span class="sides-name" ng-bind="side.name"></span>
            <span class="sides-infoImg"><img src="images/ic_info_dark.png"></span>
            <span class="sides-rate" ng-bind="side.rate | currency"></span>
        </div>
        <!--SIDES IMAGE AND BUTTONS-->
        <div class="sides-body">
            <span class="sides-img">
             <img ng-src="{{side.imgURL}}">
        </span>
            <span class="sides-btn">            
            <button class="add-order-btn" ng-click="addToOrder('sides',side)" >add to order</button>
            
             <button class="qty-btn" bind='side.quantity' qty-directive >qty {{side.quantity}}</button>
             
        </span>
        </div>
    </div>
</div>
  
<!--END SIDES TAB CONTENT -->
