
<!--START DRINKS TAB CONTENT -->

<ul class="drinks-list" ng-controller="drinksCtrl">
	<li class="drinks-list-item" ng-repeat="drink in drinksDetails">
		<!-- Drink icon display -->
		<div class="drinks-icon-holder"><img ng-src="{{drink.imgURL}}"></div>
		<div class="drinks-data-holder">
			<!-- Sides description and cost -->
			<div class="drinks-desc">
				<span>{{drink.name}}</span>
				<span class="drinks-cost">{{drink.rate | currency}}</span>
				<span class="info-icon-holder"><img src="images/ic_info_dark.png"></span>
			</div>
		</div>
		<!-- button section -->
		<div class="drinks-button-wrap">
			<button class="add-order-button" ng-click="addToOrder('drinks', drink)">add to order</button>
			 
			<button class="qty-button"  bind='drink.quantity'  qty-directive><span>qty</span><span>{{drink.quantity}}</span></button> 
			
		</div>
	</li>
</ul>


<!-- END DRINKS TAB CONTENT

