<!-- Timer Screen -->
<div ng-controller="orderTrackingCtrl">
<div class="burger-tracking" ng-show="timer">
    <div class="order-tracking-text"><span class="ot-span">Order ready in</span>
    </div>
    <div class="order-tracking-time" count-down>
    <div id ="timer"></div>
    <div class="col-ot-6">min</div>
    <div class="col-ot-6">sec</div>
    </div>
    <div class="order-tracking-button">
        <button type="button" class="order-button">map</button>
    </div>
</div>

<!-- /Timer Screen -->

<!-- Ready Screen -->

 <div class="burger-tracking" ng-show="ready">
    <div class="order-tracking-text">
    <p class="p-ready">Your order will be delivered to you</p>
    </div>
    <div class="order-tracking-ready">READY
    
    </div>
    <div class="order-tracking-button">
        <button type="button" class="order-button">map</button>
    </div>
</div>

<!-- /Ready Screen -->

<!-- Oops Screen -->

<div class="burger-tracking" ng-show="oops">
    <div class="order-tracking-text">
    <p class="p-oops">Sorry,<br> we are unable to<br> process your order</p>
    </div>
    <div class="order-tracking-oops">OOPS!
    <p class="p-oops">the robot has gone on strike.<br> we apologize for the inconvenience.<br>you will not be charged</p>
    </div>
    <div class="order-tracking-button">
        <button type="button" class="order-button">go back to menu</button>
    </div>
</div>

<!-- /Oops Screen -->
</div>