<div class="main-container-burger">
    <div class="row-burger">
        <div class="col-burger-8">
            <p class="burger-name">my featured burger 1</p>
            <p class="burger-quantity"> 6 oz patty, medium</p>
        </div>
        <div class="col-burger-4 text-right">$3.65</div>
    </div>
    <div class="row-notes">
        <input class="burger-notes" type="text" placeholder="tap here to write notes on burger">
    </div>
    <div class="row-burger-menu">
        <div class="col-burger-4">
            <p class="toppings">toppings</p>
            <div class="topping">
                <img src="images/img_bc_t_lettuce.png">
            </div>
            <div class="topping">
                <img src="images/img_bc_t_cheese1.png">
            </div>
            <div class="topping">
                <img src="images/img_bc_t_tomato.png">
            </div>
            <div class="topping">
                <img src="images/img_bc_t_cheese2.png">
            </div>
            <div class="topping">
                <img src="images/img_bc_t_onion.png">
            </div>
            <div class="topping">
                <img src="images/img_bc_t_pickle.png">
            </div>
        </div>
        <div class="col-burger-8">
            <p class="susSeasoning">sauces & seasoning</p>

            
           <!--  <ul>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">a1 steak sauce</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">seasonal fruit jam</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">charred onion jam</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">guacamole</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">espresso grounds</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">cayenne pepper</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">smoky umami powder</span></li>
                <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">parsley</span></li>
                <!-- <li><img src="../images/img_bc_sa_bbqsauce.png" /> <span style="vertical-align: super;">seasonal fruit jam</span></li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" />
                    <span style="vertical-align: super;"> charred onion jam</span></li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" /> <span style="vertical-align: super;">guacamole</span></li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" /> espresso grounds</li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" /><span style="vertical-align: super;">cayenne pepper</span></li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" /> <span style="vertical-align: super;">smoky umami powder</span></li>
                <li><img src="../images/img_bc_sa_bbqsauce.png" /><span>parsley</li> -->
            </ul> -->
        </div>
    </div>
    <div class="row-burger-button">
        <form>
            <button type="button" class="quantity button-burger">qty 1</button>
            <button type="button" class="addOrder button-burger">add to order</button>
            <button type="button" class="customize button-burger">customize</button>
        </form>
    </div>
</div>
