<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Momentum Machines</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui"> 
    <!-- CSS files -->
    <link rel="stylesheet" href="css/master.css">
</head>
<body ng-app="momentumMachines">
    <!-- Load the views from partials -->
   <div id="layout" ng-controller="mainController" ng-swipe-left="leftSwipped($event);direction='left'" ng-swipe-right="rightSwipped($event);direction='right'">
        <section class="head-section" ng-show="stateConfig.requireLayout">
            <div class="top-labels">
                <a href="#" class="side-menu-button" ng-show="!stateConfig.isCustomizePage"></a>
                <a  class="back-button" ng-click="switchView('burgerPage')" ng-show="stateConfig.isCustomizePage"><img src="images/ic_backarrow.png"></a>
                <div class="my-order-label">
                    <span>pick up time</span>
                    <div class="header-label">10-15m </div>
                </div>
                 <!-- Changed div tag to anchor to route to my orders: govind -->
                <a href="#/myOrder"class="my-order-label label-highlight">
                  <!--   <p>2</p> -->
                    <span>my order</span>
                    <span class="cart-count">{{itemCount.total}}</span>
                    <div class="header-label">$ {{grandTotal.toFixed(2)}}</div>
                </a>
                
            </div>
            <div class="header-links" ng-show="!stateConfig.isCustomizePage">
                <a ng-click="navigateLink('burgerPage')" ng-class="{active:currentState.match('burgerPage')}">burgers</a>
                <a ng-click="navigateLink('sidesPage')" ng-class="{active:currentState.match('sidesPage')}">sides</a>
                <a ng-click="navigateLink('drinksPage')" ng-class="{active:currentState.match('drinksPage')}">drinks</a>
            </div>
            <div class="header-links customizeTabs" ng-show="stateConfig.isCustomizePage">
                <a ng-click="navigateLink('pattyPage')" ng-class="{active:currentState.match('pattyPage')}">patty</a>
                <a ng-click="navigateLink('toppingsPage')" ng-class="{active:currentState.match('toppingsPage')}">toppings</a>
                <a ng-click="navigateLink('saucesPage')" ng-class="{active:currentState.match('saucesPage')}">sauces</a>
                <a ng-click="navigateLink('seasoningsPage')" ng-class="{active:currentState.match('seasoningsPage')}">seasonings</a>
            </div>
        </section>

    <!-- placeholder to show the content of the above clicked start-->
        <div id="content" ng-view ng-class="{pageLeft:direction=='left',pageRight:direction == 'right',contentPadding:stateConfig.requireLayout}"></div>
    <!-- placeholder to show the content of the above clicked end-->
     <div class="overlay" ng-show="addedToOrder"> 
          <div class="added-notificaton">Added to Order</div>
      </div>
    </div>


    <!-- JS files -->
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <!-- endbuild -->
</body>
</html>
