<div ui-view ng-controller="orderCtrl">
	<div class="content-nav">
		<ul>
			<li><a ui-sref="dashboard.orders" ui-sref-active="active">Order Management</a></li>
		</ul>
	</div>
	<div class="content">
		<table class="table-list" >
		<tr>
			<th>Order Id</th>
			<th>Item</th>
			<th>Email Id</th>
			<th>Date</th>
			<th>Status</th>
			<th>Amount</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="item in orderList">
			<td><a ui-sref="dashboard.orders.detail({orderId:item.id})">{{item.id}}</a></td>
			<td>{{item.item}}</td>
			<td>{{item.email}}</td>
			<td>{{item.date}}</td>
			<td>{{item.status}}</td>
			<td>{{item.amount}}</td>
			<td>
				<select>
					<option>Expedite</option>
					<option>Re-run</option>
					<option>Cancel</option>
					<option>Refund</option>
				</select>
			</td>
		</tr>
	</table>
	</div>
</div>