<div class="content">
	<div class="order-preview-head">
		<h1>Order preview</h1>
		<h6>#00101-00<span class="fright total-cost">Total Cost - $ 9.50</span></h6>
	</div>

	<div class="order-detail-list">
		<h2>My Featured Burger</h2>
		<h5>PATTY<span> - 5.5oz</span></h5>
		<h5>DONENESS<span> - Medium</span></h5>
		
		<h5>TOPPINGS</h5>
		<ul class="item-list">
			<li>Onions - 2</li>
			<li>Lettuce - 1</li>
			<li>Tomato - 1</li>
		</ul>
		
		<h5>SAUCES</h5>
		<div class="pleft10 mbottom10">
			<h6>TOP BUN</h6>
			<ul class="item-list">
				<li>Red Relish - 40g</li>
				<li>Apricot Sauce - 60g</li>
			</ul>	
		</div>
		<div class="pleft10 mbottom10">
			<h6>BOTTOM BUN</h6>
			<ul class="item-list">
				<li>Vinaigrette - 60g</li>
				<li>Sweet Sriracha - 40g</li>
			</ul>	
		</div>
		
		<h5>SEASONINGS</h5>
		<div class="pleft10 mbottom10">
			<h6>TOP BUN</h6>
			<ul class="item-list">
				<li>Anchovies - 40g</li>
				<li>Dijon mustard - 60g</li>
			</ul>	
		</div>
		<div class="pleft10 mbottom10">
			<h6>BOTTOM BUN</h6>
			<ul class="item-list">
				<li>Mushrooms - 60g</li>
				<li>Egg - 40g</li>
			</ul>	
		</div>
	</div>
</div>