<div ng-controller="burgerCtrl">
    <div class="order-type-label"><span>recently ordered</span></div>
    <div class="main-container-burger" ng-repeat="burger in recentBurgerDetails | limitTo: recentlyOrderedQtyLimit">
        <div class="row-burger">
            <div class="col-burger-8">
                <p class="burger-name" ng-bind="burger.name"></p>
                <p class="burger-quantity" ng-bind="burger.description"></p>
            </div>
            <div class="col-burger-4 text-right" ng-bind="burger.rate | currency"></div>
        </div>
        <div class="row-notes">
            <input class="burger-notes" type="text" placeholder="tap here to write notes on burger">
        </div>
        <div class="row-burger-menu">
            <div class="col-burger-4">
                <p class="toppings">toppings</p>
                <div class="topping" ng-repeat="toppings in burger.toppings">
                    <img ng-src="{{toppings.imgURL}}">
                </div>
                <!-- <div class="topping">
                <img src="images/img_bc_t_cheese1.png">
            </div>-->
            </div>
            <div class="col-burger-8">
                <p class="susSeasoning">sauces & seasoning</p>
                <ul>
                    <li ng-repeat="seasonings in burger.seasonings"><img ng-src="{{seasonings.imgURL}}" /> <span class="sauses-text" ng-bind="seasonings.name"></span></li>
                    <!-- <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">seasonal fruit jam</span></li>-->
                </ul>
            </div>
        </div>
        <div class="row-burger-button">
            <form>
                <button type="button" class="quantity button-burger" qty-directive bind="burger.quantity">qty {{burger.quantity}}</button>
                <button type="button" class="addOrder button-burger" ng-click="addToOrder('burgers',burger)">add to order</button>
                <button type="button" class="customize button-burger" ng-click="navigateLink('pattyPage')">customize</button>
            </form>
        </div>
    </div>
    <div class="show-more-burgers" ng-if="recentlyOrderedQtyLimit ==3"><span class="label">see more recently ordered</span><span class="plus-btn" ng-click="showMore()">+</span></div>
    <div class="order-type-label"><span>featured burgers</span></div>
    <div class="main-container-burger" ng-repeat="burger in burgerDetails">
        <div class="row-burger">
            <div class="col-burger-8">
                <p class="burger-name" ng-bind="burger.name"></p>
                <p class="burger-quantity" ng-bind="burger.description"></p>
            </div>
            <div class="col-burger-4 text-right" ng-bind="burger.rate | currency"></div>
        </div>
        <div class="row-notes">
            <input class="burger-notes" type="text" placeholder="tap here to write notes on burger">
        </div>
        <div class="row-burger-menu">
            <div class="col-burger-4">
                <p class="toppings">toppings</p>
                <div class="topping" ng-repeat="toppings in burger.toppings">
                    <img ng-src="{{toppings.imgURL}}">
                </div>
                <!-- <div class="topping">
                <img src="images/img_bc_t_cheese1.png">
            </div>-->
            </div>
            <div class="col-burger-8">
                <p class="susSeasoning">sauces & seasoning</p>
                <ul>
                    <li ng-repeat="seasonings in burger.seasonings"><img ng-src="{{seasonings.imgURL}}" /> <span class="sauses-text" ng-bind="seasonings.name"></span></li>
                    <!-- <li><img src="images/img_bc_sa_bbqsauce.png" /> <span class="sauses-text">seasonal fruit jam</span></li>-->
                </ul>
            </div>
        </div>
        <div class="row-burger-button">
            <form>
                <button type="button" class="quantity button-burger" qty-directive bind="burger.quantity">qty {{burger.quantity}}</button>
                <button type="button" class="addOrder button-burger" ng-click="addToOrder('burgers',burger)">add to order</button>
                <button type="button" class="customize button-burger" ng-click="navigateLink('pattyPage')">customize</button>
            </form>
        </div>
    </div>

</div>
