<div class="dashboard-layout">
	<div class="dashboard-side-menu-container">
	<ul class="dashboard-side-menu">
		<li><a ui-sref=".home" ng-class="{'current':currentState.indexOf('home')>1}"><img src="images/icons/icon-dashboard.png" /> Dashboard</a></li>
		<li><a ui-sref=".customers" ng-class="{'current':currentState.indexOf('customer')>1}"><img src="images/icons/icon-jobhistory.png" /> Customers</a></li>
		<li><a ui-sref=".sommeliers" ng-class="{'current':currentState.indexOf('sommeliers')>1}"><img src="images/icons/icon-feedback.png" /> Sommeliers</a></li>
		<li><a ui-sref=".orders" ng-class="{'current':currentState.indexOf('orders')>1}"><img src="images/icons/icon-requests.png" /> Orders</a></li>
		<li><a ui-sref=".menu.burgers" ng-class="{'current':currentState.indexOf('menu')>1}"><img src="images/icons/icon-users.png" /> Menu</a></li>
		<li><a ui-sref=".store" ng-class="{'current':currentState.indexOf('store')>1}"><img src="images/icons/icon-skills.png" /> Store</a></li>
	</ul>
</div>

	<header ng-controller="headerCtrl">
	<span class="page-lable">Dashboard</span>
	<!-- <div class="dashboard-logo"><img src="images/dashboard-logo.png" /></div> -->
	<div class="admin-identity">
		<span class="admin-name" ng-click="toggleOptions();">{{userName}}</span>
		<div class="admin-name-dropdown" ng-show="displayOptions">
			<ul>
				<li><a ui-sref="#">Change Password</a></li>
				<li><a ng-click="logout()">Log Out</a></li>
			</ul>
		</div>
	</div>
</header>

	<div class="content-area" ui-view></div>

</div>
