<div class="dashboard-side-menu-container">
	<ul class="dashboard-side-menu">
		<li><a ui-sref=".home" ng-class="{'current':currentState.indexOf('home')>1}"><img src="images/icons/icon-dashboard.png" /> Dashboard</a></li>
		<li><a ui-sref=".customers" ng-class="{'current':currentState.indexOf('customer')>1}"><img src="images/icons/icon-jobhistory.png" /> Customers</a></li>
		<li><a ui-sref=".sommeliers" ng-class="{'current':currentState.indexOf('sommeliers')>1}"><img src="images/icons/icon-feedback.png" /> Sommeliers</a></li>
		<li><a ui-sref=".orders" ng-class="{'current':currentState.indexOf('orders')>1}"><img src="images/icons/icon-requests.png" /> Orders</a></li>
		<li><a ui-sref=".menu.burgers" ng-class="{'current':currentState.indexOf('menu')>1}"><img src="images/icons/icon-users.png" /> Menu</a></li>
		<li><a ui-sref=".store" ng-class="{'current':currentState.indexOf('store')>1}"><img src="images/icons/icon-skills.png" /> Store</a></li>
	</ul>
</div>
